#product-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    row-gap: 50px;
}

.product-box{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.product-img{
    width: 100%;
}
.product-price-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}

.checkout-box{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px;

}
.checkout-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
     padding: 8px;
     width: 200px;
     background-color: rgb(21, 21, 21);
     color: white;
     font-weight: 600;
     border-radius: 8px;
}
a{
    text-decoration: none;
}