.container {
    display: flex;
    justify-content: space-around;
    background-color: #e1e1e1;
    padding: 30px 0px;
  }
  .container > div {
    text-align: center;
  }
  @media only screen and (min-width: 375px) and (max-width: 768px) {
    .container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
  }
  @media only screen and (min-width: 0px) and (max-width: 375px) {
    .container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .gift {
    font-size: 60px;
  }
  .gift:hover {
    color: #f58300;
  }
  a {
    text-align: center;
    color: #000000;
    font-size: 20px;
  }
  li {
    list-style-type: none;
  }
  .copyright {
    color: #979797;
    font-family: open sans;
    font-size: 12px;
    text-transform: uppercase;
    float: left;
  }
  
  /* Footer Styling */
  
  .new_fotter {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: left;
    font-size: 12px;
    background-color: #262626;
  }
  @media only screen and (min-width: 375px) and (max-width: 768px) {
    .new_fotter {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media only screen and (min-width: 0px) and (max-width: 375px) {
    .new_fotter {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
    .title {
      margin-top: 20px;
    }
  }
  .title {
    color: #dedede;
    font-family: raleway, sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-top:20px;
  }
  .one li a {
    padding-left: 10px;
    line-height: 24px;
    color: #dedede;
    text-decoration: none;
    font-size: 15px;
    font-family: raleway, sans-serif;
    font-weight: 300;
  }
  .one li a:hover {
    color: #e92705;
  }
  .mob_icon {
    color: #dedede;
    font-family: ralway, sans-serif;
    line-height: 17px;
    font-weight: 300;
  }
  .links {
    color: #dedede;
    margin-right: 10px;
    font-size: 30px;
    margin-bottom: 10px;
  }
  .copy-right{
    text-align: left;
    font-family: open sans;
    top: 10px;
    padding:30px 10px;
    font-size: 10px;
    color: #dedede;
    height:20px;
    margin-top: 9vw;
  }
  .powered_by{
    margin-right: 0;
    margin-left:250%;
  }
  .powered_by span{
    font-size:8px;
    color:white;
  
  }
  .powered_by img{
    height:30px;
    width:auto;
  }

  .icon-footer{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 50px;
      background-color: rgb(202, 201, 201);
      padding: 12px 10px;
  }
  .icon-footer>div{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }