#carousel{
    margin: auto;
    margin-top: 15px;
    width: 97.5vw;
    /* height: 270px; */
    position: relative;
}

#carousel-img{
    width: 100%;
    height: 600px;
}
.left-arrow{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(216, 200, 200);
    z-index: 10;
    position: absolute;
    top: calc( 600px/2 - 50px );
    left: 14px;
    visibility: hidden;
}
.right-arrow{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(216, 200, 200);
    z-index: 10;
    position: absolute;
    top: calc( 600px/2 - 50px );
    right: 14px;
    visibility: hidden;
}
#carousel:hover .left-arrow, 
#carousel:hover .right-arrow{
visibility: visible;
}